@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-secondary);
}

body {
    width: 100%;
    height: 100%;
}

.mainAuth {
    /* background-image: url(../assets/doddles/doddle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; */
    background-color: #222;
}

.shadow-custom {
    box-shadow: 0px -10px 20px 0px #5e5e5e87;
}
